.section--training
  display: flex
  .training-intro
    width: 300px
  .training-list
    display: flex
    flex-wrap: wrap
    list-style: none
    padding: 0
    margin: 0
    width: 700px
    li
      padding: 0
      margin: 0
      justify-content: space-around
      width: 300px
